
# Dependencies
/node_modules

# Next.js
/.next
/out

# Build output
/dist
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Local environment files
.env
.env.development
.env.test
.env.production
.env*.local

# TypeScript
*.tsbuildinfo

# Local temp/cache directories
.temp
.tmp
/tmp
/.server
